.reading {
  height: 100px;
  width:100%;
  //margin:20px;
  border:1px solid #444;
  background:#CFEDFD;
  text-align:center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &.big-reading {
    height: 220px;
    background:#9AE98B;
    .reading-inner{
      margin-top:70px;
    }
  }
  .reading-inner {
    .value {
      font-size:50px;
    }
    .label {
      font-size:15px;
      color:black;
    }
  }
}
