.fix-width-table {
  max-width:100%;
  overflow:scroll;
}
.aa-page-header {
  position:relative;
  .privacy-sign {
    float:right;
    text-align:center;
    margin-top:33px;
    font-size:37px;
    max-width:250px;
    background:#444;
    opacity:0.6;
    padding:10px 10px 0px 10px;
    .span.text {
      display:inline-block;
    }
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }

}
.reading {
  height: 100px;
  width:100%;
  border:1px solid #e5e5e5;
  text-align:center;
  &.big-reading {
    height: 130px;
    .reading-inner{
      margin-top:29px;
      .value {
        font-size:33px;
      }
    }
  }
  .reading-inner {
    margin-top:20px;
    .value {
      font-size:22px;
    }
    .reading-label {
      font-size:15px;
      color:#fff;
      font-weight:200;
    }
    .reading-units {
      font-size:11px;
      position:absolute;
      bottom:5px;
      right:10px;
    }
  }
}
.location-container {
  color:#fff;
  opacity:0.8;
  margin-bottom:20px;
  .location-title {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10px;
    padding-top: 49px;
    font-size: 24px;
    height: 130px;
    font-weight: 200;
  }
  .row {
    background:#303030;//#306391;
    margin-left:0;
    margin-right:0;
  }
  .timestamp {
    font-weight:100;
  }
}
.readings-secondrow-container {
  .cc-col {
    .reading {
      border-left:0px;
    }
    &:first-child {
      .reading {
        border-left:1px solid #e5e5e5;
      }
    }
  }
}
.cc-col {
  width:25%;
  position:relative;
  display:inline-block;
  vertical-align:top;
  &.cc-col-1  { width:8.333333333%; }
  &.cc-col-2  { width:16.6666666667%; }
  &.cc-col-3  { width:25%; }
  &.cc-col-4  { width:33.33333333%; }
  &.cc-col-5  { width:41.666666667%; }
  &.cc-col-6  { width:50%; }
  &.cc-col-7  { width:58.33333333%; }
  &.cc-col-8  { width:66.666666667%; }
  &.cc-col-9  { width:75%; }
  &.cc-col-10 { width:83.33333333%; }
  &.cc-col-11 { width:91.666666667%; }
  &.cc-col-12 { width:100%; }
  &.cc-col-20p { width:20%;}

}
