// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header.navbar {
  .navbar-toggle {
    .icon-bar {
      background: #306391;
    }
  }
}

body {
  background-image:url('/greyzz.png');
  header {
    background:white;
  }
  #flashMessages {
    position:fixed;
    top:20%;
    left:50%;
    width:200px;
    margin-left:-100px;
    z-index:10000;
  }
  .aa-page-header {
    background: #306391;
    background-image: url("http://dn-giga-test-webapp.qbox.me/sky.jpg");
    background-size:cover;
    background-position:center;
    color:#fff;
    margin-top:-20px;
    h1 {
      margin-top:30px;
    }
    h3, p {
      margin-bottom:22px;
    }
  }
  .aa-page-container {
    background:white;
    opacity:0.9;
    margin-bottom:20px;
    padding-bottom:10px;
  }
}
.t-o {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
