// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header.navbar {
  .navbar-brand {
    img {
      height:40px;
      margin-top:-10px;
    }
  }
  .navbar-toggle {
    .icon-bar {
      background: #306391;
    }
  }
}

body {
  //background-image:url('/greyzz.png');
  header {
    background:white;
  }
  #flashMessages {
    position:fixed;
    top:20%;
    left:50%;
    width:200px;
    margin-left:-100px;
    z-index:10000;
  }
  .aa-page-container {
    @include opacity(0.9);
    margin-bottom:20px;
    padding-bottom:10px;
    position:relative;
    z-index:1;
    .aa-block-wrapper {
      position:relative;
      margin-bottom:20px;
      z-index:1;
      .skin {
        background:#000;
      }
      .aa-block {
        z-index: 1;
        position: relative;
        padding: 1px 20px;
        .aa-block-title {
          color: #fff;
          border-bottom:1px solid #fff;
          width:100%;
          z-index:1;
        }

      }
    }
  }
}
.skin {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: #444;
  z-index:0;
  @include opacity(0.2);
}
.t-o {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
