header.aa-public-header {
  color: #444;
  a, a:visited {
    color: #444;
  }

}
body.public {
  background:#F3F3F3;
  .row.spaced {
    margin-top:30px;
  }
  .aa-page-header {
    position:relative;
    background: #306391;
    background-image: url("/office-bkgd.jpg");
    background-size:cover;
    background-position:center;
    color:#fff;
    margin-top:-20px;
    .skin {
      z-index:0;
    }
    .container {
      position:relative;
      z-index:1;
      height: 100%;
    }
    h1 {
      margin-top:30px;
    }
    h3, p {
      margin-bottom:22px;
    }
    &.tall {
      height:350px;
    }
    .aa-banner {
      text-align:center;
      margin-top:100px;
      &.bottom {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
      }
    }
  }
  .aa-public-container {
    .card {
      margin-top:40px;
      background-color: #fff;
      padding: 1px 0 30px 0;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      h3 {
        margin-top:40px;
      }
      .divider {
        width:100%;
        border-top:1px solid #e5e5e5;
        margin:20px 0 20px 0;
      }
      .card-feature {
        position:relative;
        padding-right:20px;
        margin: 10px 0 10px 0;
        height:80px;
        .copy-img {
          width:30%;
          height:100%;
          display:inline-block;
          vertical-align: middle;
        }
        .copy {
          width:70%;
          text-align:left;
          display:inline-block;
          vertical-align: middle;
        }
      }
      .btn {
        font-size:20px;
        margin-top: 10px;
        width: 80%;
      }
    }
  }
  footer {
    background:#444;
    height:165px;
    margin-top:40px;
    color:#fff;
    padding:20px 0 20px 0;
    text-align: center;
    .copyright {
      margin-top: 50px;
      font-size: 19px;
      color: #888;
      font-weight: 200;
    }
  }
}
