// Place all the styles related to the Readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hazardous {
  background: #4f0006;
}
.very-unhealthy {
  background: #770737;
}
.unhealthy {
  background: #b90d01;
}
.sensitive {
  background: #bca501;
}
.moderate {
  background: #dbe22f;
}
.good {
  background: #50cf50;
}
.aa-block-wrapper {
  margin-top: 20px;
  margin-bottom:20px;
  padding-bottom: 15px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  .skin {
    @include opacity(0.7);
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }
  .aa-block-inner {
    position:relative;
    z-index:1;
    color:white;
    .aa-block-title {
      border-bottom:1px solid #fff;
      margin-bottom:10px;
      padding-top:1px;
      h3 {
        font-size:15px;
      }
    }
    .aa-block-body {
    }
  }
}
.aa-chart-block {
  .aa-block-inner {
    .aa-block-body {
      background:#fff;
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.aa-reading-block {
  .aa-block-inner {
    .aa-block-body {
      .reading-large {
        div[class*='col-'] {
          display:inline-block;
          vertical-align: bottom;
          float:none;
        }
        @media(max-width: 767px) {
          .visible-xs {
            display:inline-block !important;
          }
        }
        label.device-label {
          padding-left:10px;
          font-size:36px;
          font-weight:200;
          padding-bottom:10px;
        }
        .reading-value {
          font-size:96px;
          text-align:right;
          padding-top:20px;
          span.value {
            line-height:80px;
          }
        }
        .reading-info {
          padding-bottom:30px;
          .reading-badge, .reading-label, .reading-units {
            display:block;
            width:100%;
            text-align: center;
            font-size:12px;
          }
          .reading-badge {
            margin-bottom: 8px;
            span {
              font-size:17px;
              font-weight:200;
            }
          }
        }
        @media(max-width: 400px) {
          .reading-info {
            margin-left:-10px;
            width:180%;
          }
          label.device-label {
            font-size: 24px;
          }
          .reading-value {
            font-size: 36px;
          }
          .reading-info {
            padding-bottom:5px;
            padding-left:0;
            padding-right:0;
            .reading-badge {
              span {
                font-size:12px;
                font-weight:200;
                max-width:67px;
              }
            }

          }

        }

      }
      .reading-details {
        table {
          tr {
            td {
              text-align: center;
              &.reading-label {
                width:60%;
                text-align: left;
              }
              &.reading-units {
                width:10%;
              }
              &.reading-value {
                width:20%;
              }
              &.reading-badge {
                width:10%;
                text-align: left;
              }
            }
            @media(max-width: 400px) {
              td {
                &.reading-label {
                  width:40%;
                  text-align: left;
                }
                &.reading-units {
                  width:10%;
                }
                &.reading-value {
                  width:40%;
                  min-width:60px;
                }
                &.reading-badge {
                  width:10%;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      .reading-time {
        margin-right:1px;
      }
    }
  }
}
