// Place all the styles related to the SignUps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.extra-links {
  ul {
    list-style:none;
    float:right;
    li {
      display:inline-block;
      margin-right:10px;
    }
  }
}
